* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background-color: goldenrod;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    display: block;
    padding: 0.3rem;
    text-decoration: solid;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /*To make a differerence with all the text*/
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    border-bottom: #333;
    padding-bottom: 0.25rem;
    color: darkblue;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 1px 1px 5px rgba(0 0 0 / 0.3);
    text-align: center;
}

main {
    max-width: 840px;
    grid-template-columns: 2/3;
    margin: 0.5rem;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid rgb(0 0 0 / 0.5);
    padding: 1rem;
    background-color: #333;
    box-shadow: 1px 1px 5px rgba(0 0 0 / 0.3);
    color: aqua;
    float: right;

}

p {
    padding: 0;
}

.grid {
    display: grid;
    align-items: center;
}

aside {
    width: 20rem;
    margin: 1rem;
    text-align: center;
    position: relative;
    grid-column: 1/2;

}

aside h2 {
    position: relative;
    top: 1.7rem;
    transform: translateX(-50%);
    left: 50%;

}

aside img {
    width: 100%;
    height: auto;
    text-align: center;
    display: flex;
    align-self: center;
}

header,
.grid,
footer {
    max-width: 840px;
    margin: 0 auto;
}

/*Class Selector*/
.box {
    margin: 10px 0.5;
    padding: 1rem;
    border: 1px solid burlywood;
    background-color: antiquewhite;
    color: brown;

}